.body{
    font-family: Arial;
    background-color: #f0f0f3;
    /*//#e2ddff*/
    background-image :url("https://yizhakeliezer.github.io/EDI/storenext.png");
    background-size: 16%;
    background-repeat: no-repeat;
    background-position: revert;
    color: white;
}

.AllData{
    background-color: white;
    position: absolute;
    left: 67%;
    top: 20px;
    width: 30%;
    height: 350px;
    border: 1px solid #bdb8b8;
    border-radius: 4px;
}




.AllData input{
    color: #664793;
    font-weight: bold;
    height: 4%;
    padding: 9px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    top: 12%;
    left: 17%;
    text-align: right;

}





#menuTypeStructure{
    color:  #79acf1;
    font-weight: bold;
    height: 8%;
    width: 20%;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    top: 21%;
    left: 50%;
    text-align: right;

}

/*//#e54141*/
#menuTypefile{
    color:  #79acf1;
    font-weight: bold;
    height: 8%;
    width: 20%;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    top: 35%;
    right: 13%;
    text-align: right;
}



.AllData h1 {
    position: relative;
    left: 20%;
    top: 5%;
font-size: 20px;
    color: #4d4a4a;
    border-bottom: 2px solid #4CAF50;
    display: inline;
    padding-bottom: 5px;

}






#Search{

    border-color: #bdb8b8;
    border: 2px solid #011926;
    color: #011926;
    background-color: #79acf1;
    font-size: 15px;
    width: 60%;
    height: 10%;
    position: relative;
    top: 105%;
    left:20%;

}









#messageRuslt1{
    background-color: white;
    position: relative;
    left: 35%;
    top: -4px;
    width: 30%;
    height: 50%;
    border: 1px solid #bdb8b8;
    border-radius: 4px;
    color:  #4d4a4a;
    overflow: hidden;
}

#messageRuslt1 h1{

    position: relative;
    left: 67%;
    top: 20px;
    font-size: 20px;
    color: #4d4a4a;
    border-bottom: 2px solid #4CAF50;
    display: inline;
    padding-bottom: 5px;
}

/*#messageRuslt{*/
/*    position: relative;*/
/*    right: 3%;*/
/*    top: 8%;*/
/*    font-size: 15px;*/
/*    color: #4d4a4a;*/
/*    text-align: right;*/
/*    color: #e54141;*/
/*    overflow: hidden;*/
/*}*/

#messageRuslt{
    position: relative;
    right: 30%;
    top: 30px;
    font-size: 15px;
    color: #4d4a4a;
    text-align: right;
    color: #e54141;
    text-indent: 0;
}

/*#messageRuslt::first-line {*/
/*    text-indent: 0; !* Reset the text-indent property for the first line *!*/
/*}*/


/*#messageRuslt::after {*/
/*    content: ''; !* Add an empty content to create a pseudo-element *!*/
/*    display: block; !* Make it a block-level element *!*/
/*    right: 150px; !* Adjust the margin to move subsequent lines to the left *!*/
/*}*/




/*<style>*/
/* .overflow-container {*/
/*     width: 300px; !* Set the width of your container *!*/
/*     overflow: hidden; !* Hide overflow content *!*/
/* }*/

/*.overflow-text {*/
/*    text-indent: 0; !* Reset the text-indent property *!*/
/*}*/

/*.overflow-text::first-line {*/
/*    text-indent: 0; !* Reset the text-indent property for the first line *!*/
/*}*/

/*.overflow-text::after {*/
/*    content: ''; !* Add an empty content to create a pseudo-element *!*/
/*    display: block; !* Make it a block-level element *!*/
/*    margin-left: -15px; !* Adjust the margin to move subsequent lines to the left *!*/
/*}*/
/*</style>*/

/*  <div class="overflow-container">*/
/*                                 <p class="overflow-text">*/















.upFile{
    background-color: white;
    border: 1px solid #bdb8b8;
    border-radius: 4px;
    width: 30%;
    height: 35%;
    position: absolute;
    left: 67%;
    top: 53%;

}




.upFile h1 {
    position: relative;
    left: 85%;
    top: 7%;
    font-size: 20px;
    color: #4d4a4a;
    border-bottom: 2px solid #4CAF50;
    display: inline;
    padding-bottom: 5px;

}




#drop-zone {
    border: 2px dashed #c4bfbf;
    border-radius: 70px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    width: 85%;
    height: 70%;
    background-color: white;
    color:  #4d4a4a;
    position: absolute;
    left: 6%;
    top: 22%;
}



#drop-zone:hover {
    border-color: black;
}

#file-input {
    display: none;
}

#upload-icon {
    font-size: 15px;
    cursor: pointer;
    color: #333;
}

#file-name {
    margin-top: 50px;
    font-weight: bold;
}




